* {
  box-sizing: border-box;
}

body {
  background: rgb(38, 38, 38);
  font-family: 'Poppins', sans-serif;
  color: #ddd;
  margin: 0;
}

main {
  max-width: 380px;
  margin: 30px auto;
  padding: 20px;
  background: #353535;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

form {
  margin-top: 20px;
}

form input,
form button {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

form input[type='datetime-local'] {
  color: #777;
}

form input:focus,
form button:focus {
  outline: none;
  border-color: #56ccf2;
}

form input:hover,
form button:hover {
  background-color: #333;
}

form button {
  background-color: grey;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color:darkgray;
}



/* Transaction Styles */
.transactions {
  margin-top: 20px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 12px;
  background: rgb(89, 89, 89);
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.transaction:hover {
  transform: translateY(-8px);
  background-color: rgb(63, 63, 63);
}

.transaction .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaction .left .name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

.transaction .left .description {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 8px;
}

.transaction .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.transaction .right .price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #56ccf2;
  margin-bottom: 4px;
}

.transaction .right .datetime {
  font-size: 0.85rem;
  color: #bbb;
}

/* Adding icons to the transactions */
.transaction .left .name:before {
  content: '💳'; /* Icon example */
  margin-right: 8px;
  font-size: 1.5rem;
  color: #56ccf2;
}

/* Date & time Styling */
.transaction .right .datetime {
  font-size: 0.9rem;
  color: #bbb;
  font-style: italic;
}

.transaction .right .price.green {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff5a35;
}

.transaction .right .price.red {
  font-size: 1.2rem;
  font-weight: 700;
  color: #7efe96;
}

/* Responsive */
@media screen and (max-width: 400px) {
  .transaction {
    flex-direction: column;
    align-items: center;
  }

  .transaction .left,
  .transaction .right {
    align-items: center;
    text-align: center;
  }
}
